.parameter-box {
  margin: 30px 10px;
}

.parameter-box .label {
  font-size: x-large;
  font-weight: bold;
}

.go-box {
  margin: 30px 10px;
}

.go-box .heading {
  font-size: x-large;
  font-weight: bold;
}

.go-box .open-all {
  margin-top: 30px;
}

.table {
  display: inline-block;
}

.table .row {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.table .row:not(:first-child) {
  border-top: none;
}

.table .row > div {
  display: inline-block;
  padding: 5px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.table .row > div:not(:first-child) {
  border-left: none;
}

.table .header.row > div {
  font-weight: bold;
}

.actions {
  text-align: center;
}

.action {
  margin: 0px 5px;
  cursor: pointer;
}
